.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 0;
    flex: 1 100%;
  }
  
  body {
    margin: 0;
    background-image: url("gamemode-bg.jpg");
    background-size: cover;
    font-family: "Poppins", sans-serif;
  }
  
  #mathwave {
    margin-left: 10px;
    margin-top: 2%;
    color: yellow;
  }
  
  nav {
    display: flex;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999;
  }
  
  .popup {
    background-color: #fff;
    padding: 35px;
    width: 500px;
    border-radius: 5px;
    text-align: center;
  }
  
  p .note{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 20px;
    margin-bottom: -15px;
  }
  button {
    padding: 10px 20px;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: hotpink;
  }
  
  
  .header {
    background: none;
    height: 120px;
  }
  #logo{
    margin-top: 20px;
    margin-left: 150px;
  }
  #nav-links {
    display: flex;
    list-style: none;
    margin-left: 600px;
    margin-top: 2%;
    gap: 50px;
    color: yellow;
    font-weight: 600;
  }
  
  a{
    text-decoration: none;
    color: yellow;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    margin: 50px;
    gap: 20px;
  }
  
  .grid-items {
    width: 462px;
    height: 471px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    border: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
  }
  #title{
      margin: 40px 40px -20px 40px;
      font-size: 4rem;
  }
  .description{
      height: 200px;
      margin: 25px 40px 0 40px;
  }
  
  .description p{
      font-size: 1.9rem;
  }
  
  #play-btn{
      display: flex;
      justify-content: center;
  }
  
  #play-btn button{
      padding: 30px 120px 30px 120px;
      margin-top: -20px;
      border: none;
      border-radius: 16px;
      font-size: 2.5rem;
      background-color: #FFB6C1;
      color: #ff008a;
  }
  
  #play-btn button:hover{
      background-color: #ff008a;
      color: white;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    background: #14023e;
    width: 100%;
    color: yellow;
  }
  
  .main {
    text-align: left;
    background-color: none;
    font-size: 24px;
    max-height: 743px;
    height: 505px;
    margin: 20px;
    border-radius: 12px;
  }
  
  .aside1 {
      display: none;
    background: none;
    height: 505px;
    margin: 20px 0 20px 0;
    border-radius: 0 12px 12px 0;
  }
  
  .aside2 {
      display: none;
    background: none;
    height: 505px;
    margin: 20px 0 20px 0;
    border-radius: 12px 0 0 12px;
  }
  
  @media all and (min-width: 800px) {
    .main {
      flex: 3;
    }
    .aside1 {
      order: 1;
    }
    .aside2 {
      order: 2;
    }
    .main {
      order: 2;
    }
    .footer {
      order: 4;
    }
  }
/* Small laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
      flex: 3;
    }
    .aside1 {
      order: 1;
    }
    .aside2 {
      order: 2;
    }
    .main {
      order: 2;
    }
    .footer {
      order: 4;
    }
}

/* Medium laptops */
@media (min-width: 1025px) and (max-width: 1366px) {
  .main {
      flex: 3;
    }
    .aside1 {
      order: 1;
    }
    .aside2 {
      order: 2;
    }
    .main {
      order: 2;
    }
    .footer {
      order: 4;
    }
}

/* Large laptops */
@media (min-width: 1367px) {
  .main {
      flex: 3;
    }
    .aside1 {
      order: 1;
    }
    .aside2 {
      order: 2;
    }
    .main {
      order: 2;
    }
    .footer {
      order: 4;
    }
}
  
  @media all and (min-width: 600px) {
    .aside {
      flex: 1;
    }
  }
  @media screen and (max-width: 360px) and (max-height: 740px) {
    body {
      margin: 0;
      background-image: url("phonebg.jpg");
      background-size: cover;
      font-family: "Poppins", sans-serif;
    }
    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
      z-index: 9999;
    }
    
    .popup {
      background-color: #fff;
      padding: 25px;
      width: 200px;
      border-radius: 5px;
      text-align: center;
    }
    
    p .note{
      display: flex;
      justify-content: center;
      color: red;
      margin-top: 20px;
      margin-bottom: -15px;
    }
    button {
      padding: 10px 20px;
      background-color: pink;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: hotpink;
    }
    #mathwave {
      display: block;
      margin-top: 20px;
    }
    #logo{
     display: none;
    }
    nav{
      display: grid;
    }
    #nav-links {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-left: -45px;
      margin-top: 10px;
      gap: 20px;
      color: yellow;
      font-weight: 600;
      font-size: 12px;
    }
    
    a{
      text-decoration: none;
      color: yellow;
    }
    .grid-container {
      display: grid;
      justify-content: center;
      grid-template-columns: auto;
      margin-top: 10px;
      gap: 20px;
    }
    
    .grid-items {
      width: 230px;
      height: 230px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
      border: 1px solid rgba(255, 255, 255, 1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 16px;
    }
    #title{
        margin: 20px 20px -20px 20px;
        font-size: 30px;
        color: white;
    }
    .description{
        height: 200px;
        margin: 15px 20px 0 20px;
        color: white;
    }
    
    .description p{
        font-size: 15px;
    }
    
    #play-btn{
        display: flex;
        justify-content: center;
        margin-top: -100px;
    }
    
    #play-btn button{
        padding: 20px;
        width: 200px;
        border: none;
        border-radius: 16px;
        font-size: 1rem;
        background-color: #FFB6C1;
        color: #ff008a;
    }
    
    #play-btn button:hover{
        background-color: #ff008a;
        color: white;
    }
    .footer {
      display: none;
    }
    
}

